.header-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    background: #1F5CAA;
}

.header-container .heading {
    color: #FFFFFF;
}

.header-container .logo {
    margin: 20px;
    width: 60px;
    height: 100%;
}