.vehicle-container {
    border: 1px solid #ccc;
    font-size: 12px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}
  
.vehicle-thumbnail {
    max-width: 200px;
    min-height: 150px;
}
  
.vehicle-msrp {
    font-weight: 600;
    font-size: 16px;
    color: #ccc;
}
  
.vehicle-header {
    font-weight: 600;
    font-size: 18px;
    color: #999;
}